		<!--Start Section: Footer-->
		<section class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<h3>Sitemap</h3>
						<ul class="list-unstyled three-columns">
							<li>Home</li>
							<li>Service</li>
							<li>About</li>
							<li>Company</li>
							<li>Code</li>
							<li>Design</li>
							<li>Host</li>
							<li>Solutions</li>
							<li>Contact Us</li>
						</ul>
						<ul class="list-unstyled social-list">
							<li><img src="../../assets/Social Media Icons/facebook.png" /></li>
							<li><img src="../../assets/Social Media Icons/googleplus.png" /></li>
							<li><img src="../../assets/Social Media Icons/instagram.png" /></li>
							<li><img src="../../assets/Social Media Icons/linkedin.png" /></li>
							<li><img src="../../assets/Social Media Icons/quora.png" /></li>
							<li><img src="../../assets/Social Media Icons/twitter.png" /></li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6">
						<h3>Latest Articles</h3>
						<div class="media">
							<a class="pull-left" href="http://www.google.com">
								<img class="media-object" src="../../assets/articles/ai.jpeg" />
							</a>
							<div class="media-body">
								<h4>Artificial Inteligence</h4>
								<p>orem Ipsum is simply dummy text of the printing</p>
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="http://www.google.com">
								<img class="media-object" src="../../assets/articles/samsung.jpg" />
							</a>
							<div class="media-body">
								<h4>Artificial Inteligence</h4>
								<p>orem Ipsum is simply dummy text of the printing</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<h3>Our Awesome Work</h3>
						<img class="img-thumbnail" src="../../assets/articles/samsung.jpg" />
						<img class="img-thumbnail" src="../../assets/articles/samsung.jpg" />
						<img class="img-thumbnail" src="../../assets/articles/samsung.jpg" />
						<img class="img-thumbnail" src="../../assets/articles/samsung.jpg" />
					</div>
				</div>
			</div>
			<div class="copyright text-center">
				Copyright &copy;, 2014 <span>Ahmed Saeed's</span> .inc
			</div>
		</section>
		<!--End Section: Footer-->
