
		<!--Start About Us Intro-->
		<section class="about-section text-center">
			<div class="container">
				<h1>About Me</h1>
				<hr />
				<p class="lead">
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever
					since the 1500sLorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the 1500s
				</p>
				<img
					class="main-img"
					src="../../assets/about/CompanyTeam_aboutus.jpg"
				/>
			</div>
		</section>
		<!--End About Us Intro-->


		<!--Start Features-->
		<section class="about-section text-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<i class="fa fa-code fa-4x"></i>
						<h3>Passion</h3>
						<p>
							I Am very ecited when i am working on a challenging project, i am working to deliver on time.
						</p>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-child fa-4x"></i>
						<h3>Target</h3>
						<p>
							I Am very happy when i am done with developing,testing and deploying a project.
						</p>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-users fa-4x"></i>
						<h3>Availability </h3>
						<p>
							I Am Always available to be easily reachable by customers.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!--End Features-->

        <!-- My Stack Section-->
        <section class="about-section text-center">
            <h1>My Stack</h1>
            <hr/>
            <div class="container">

              <!--Frontend Technologies-->
              <div class="row">
                <div class="col-sm-4">
                    <img class="img-thumbnail" src="../../assets/about/StackImages/angular.png" alt="">
                    <h3>Angular 8</h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </p>
                  </div>
                  <div class="col-sm-4">
                      <img class="img-thumbnail" src="../../assets/about/StackImages/bootstrap.png" alt="">
                    <h3>Bootstrap</h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </p>
                  </div>
                  <div class="col-sm-4">
                      <img class="img-thumbnail" src="../../assets/about/StackImages/html.png" alt="">
                    <h3>HTML</h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </p>
                  </div>

              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <img class="img-thumbnail" src="../../assets/about/StackImages/css.png" alt="">
                      <h3>CSS</h3>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="../../assets/about/StackImages/ts.png" alt="">
                      <h3>Typescript</h3>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="../../assets/about/StackImages/js.jpg" alt="">
                      <h3>Javascript</h3>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </p>
                    </div>
                </div>
                <!--End Frontend Technologies-->
                <!--Backend Tecnologies-->
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="../../assets/about/StackImages/spring-boot.png" alt="">
                        <h3>Java Spring Boot</h3>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </p>
                      </div>
                      <div class="col-sm-4">
                          <img class="img-thumbnail" src="../../assets/about/StackImages/py.jpg" alt="">
                        <h3>Python</h3>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </p>
                      </div>
                      <div class="col-sm-4">
                          <img class="img-thumbnail" src="../../assets/about/StackImages/nodejs.jpg" alt="">
                        <h3>Node.Js</h3>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </p>
                      </div>

                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="img-thumbnail" src="../../assets/about/StackImages/sql.png" alt="">
                          <h3>MS SQL</h3>
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                          </p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-thumbnail" src="../../assets/about/StackImages/mongo.png" alt="">
                          <h3>MongoDB</h3>
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                          </p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-thumbnail" src="../../assets/about/StackImages/progress.gif" alt="">
                          <h3>Never Stops</h3>
                          <p>
                            Learning a new skill or getting more stronger in any of these technologies
                          </p>
                        </div>
                    </div>
                <!--END Backend Technologies-->
            </div>
          </section>
          <!--End Stack Section-->

		<!--Section Start: About CEO-->
		<section class="text-center about-section last-section">
			<div class="container">
        <h1>Where To Find Me</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/facebook.png" alt="" class="img-thumbnail">
            <h3>Facebook</h3>
          </div>
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/googleplus.png" alt="" class="img-thumbnail">
            <h3>Google +</h3>
          </div>
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/instagram.png" alt="" class="img-thumbnail">
            <h3>Instagram</h3>
          </div>
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/linkedin.png" alt="" class="img-thumbnail">
            <h3>LinkedIn</h3>
          </div>
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/quora.png" alt="" class="img-thumbnail">
            <h3>Quora</h3>
          </div>
          <div class="col-sm-2">
            <img src="../../assets/Social Media Icons/twitter.png" alt="" class="img-thumbnail">
            <h3>Twitter</h3>
          </div>
        </div>
			</div>
		</section>
		<!--END Start: About CEO-->
