<div class="container-fluid main-container">
  <div class="container">
    <h1 class="text-center quote">This is My System</h1>
    <p class="text-center quote">Pursue Passions, Not Paychecks</p>
    <p class="text-center quote">Be Crafty, Loveable, Systemic, And Relentless</p>
    <p class="text-center quote">Don't Take Yourself Seriously</p>
    <p class="text-center quote">Read Every Day</p>
    <p class="text-center quote">Believe in Change</p>
    <p class="text-center quote">Invest in Ideas That Matter</p>

  </div>
</div>
