<div class="container-fluid">
  <div class="container">
    <h1>What About Getting in touch with me</h1>
    <p class="text-center">Let's get in touch. <a href="">LinkedIn</a>,<a href="">GitHub</a> or <a href="">Facebook</a>, messages work better.</p>
    <div class="row">
        <div class="col-sm-12 imgs-container">
            <img src="../../assets/Social Media Icons/linkedin.png" alt="" class="img-thumbnail">
            <img src="../../../assets/Social Media Icons/Octocat.png" alt="" class="img-thumbnail">
            <img src="../../assets/Social Media Icons/facebook.png" alt="" class="img-thumbnail">
          </div>



      </div>
  </div>
</div>
