<div class="container-fluid">
  <div class="container">
      <h1  class="text-center">Top  Articles</h1>
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
          <h3 class="article-title"><a>The four most life-changing rules I've learned from four years in the real world</a></h3>
          <h5 class="custom-date">October 8, 2019</h5>
          <p>The first four years out of college felt like a lifetime. I accomplished a lot, but made many mistakes that I want to help you avoid. Here are the four of the most life-changing lessons from the craziest, most rewarding period of my life so far.</p>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img class="img-thumbnail float-right" src="https://www.w3schools.com/bootstrap4/img_chania.jpg" alt="">
        </div>
        <button class="btn btn-primary">Read More..</button>
      </div>

      <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <h3 class="article-title"><a>The four most life-changing rules I've learned from four years in the real world</a></h3>
            <h5 class="custom-date">October 8, 2019</h5>
            <p>The first four years out of college felt like a lifetime. I accomplished a lot, but made many mistakes that I want to help you avoid. Here are the four of the most life-changing lessons from the craziest, most rewarding period of my life so far.</p>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img class="img-thumbnail float-right" src="https://www.w3schools.com/bootstrap4/img_chania.jpg" alt="">
          </div>
          <button class="btn btn-primary">Read More..</button>
        </div>

        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
              <h3 class="article-title"><a>The four most life-changing rules I've learned from four years in the real world</a></h3>
              <h5 class="custom-date">October 8, 2019</h5>
              <p>The first four years out of college felt like a lifetime. I accomplished a lot, but made many mistakes that I want to help you avoid. Here are the four of the most life-changing lessons from the craziest, most rewarding period of my life so far.</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <img class="img-thumbnail float-right" src="https://www.w3schools.com/bootstrap4/img_chania.jpg" alt="">
            </div>
            <button class="btn btn-primary">Read More..</button>
          </div>

  </div>

</div>
